<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>People</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let person of people" (click)="getPersonDetails($event, person)">
      {{person.name}}
      <div class="item-note" item-right>
        {{person.gender}}
      </div>
    </button>
  </ion-list>
  <button full *ngIf="countRemaining && countRemaining > 0" (click)="getPeople(nextUrl)">Add 10 More People ({{countRemaining}} left)</button>
</ion-content>
